@import "variables";

$height-header: 71px;


header{

  display: flex;
  align-items: center;

  position: fixed;
  height: $height-header;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  justify-content: space-between;

  .menu-item{

    display: none;

  }

  .left{
    display: flex;



    .logo{

      height: $height-header;
      padding: 19px 20px 18px 0;
      margin: 0 10px;

      img{
        width:120px;
        vertical-align: middle;
      }
    }
  }

  .right{
    display: flex;
    position: relative;
    align-items: center;

    .search-box{
      position: relative;
      width: 100%;
      margin-right: 10px;

      button{
        position: absolute;
        right: 0;
        border: none;
        top: 50%;
        transform: translateY(-50%);
        background: 0 0;


        img{
          width: 20px;
          height: 20px;
        }

      }
      .search{

        display: none;

      }
    }
    .menu-icon{

      height: 100%;
      border: none;

      img{
        border-radius: 4px;
        width: 20px;
        height: 20px;
      }
    }
  }

}

main{
  .center{
    position: relative;
    top:71px;
    display: flex;
    justify-content: center;
    background-color: rgb(140, 170, 170);


    .background{
      position: relative;
      opacity: 0.7;
      height: 100%;
      margin: 0 auto;

      img{
        vertical-align: middle;
      }


    }
    .module1{
      position: absolute;
      top: 70px;
      text-align: center;
      font-weight: bold;

      .letters1{

        color: $color-text-normal2;
        font-size: 30px;
        font-weight: bold;
        white-space: nowrap;

      }
      .letters2{

        margin-top: 10px;
        color: $color-text-normal2;
        font-size: 17px;
        font-weight: bold;
        white-space: nowrap;

      }
      .letters3{

        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;


          a{
            border-radius: 5px;
            background-color: $color-text-normal2;
            color: $color-text-special1;
            border: none;
            padding: 15px 20px;
            font-weight: bold;
            height: auto;
            line-height: normal;
            font-size: 16px;

          }

      }
    }
    .module2{
      position: absolute;
      top: 220px;
      right: 30px;

      img{
        width: 180px;
      }
    }

  }
}
